{
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                // "pragma": "h",
                "runtime": "automatic",
                "importSource": "preact"
            }
        ]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "defaults"
            }
        ]
    ]
}
